<!-- Modal elements -->
    <div class="modal modal-lg" tabindex="-1" id="event-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">New Event</h3>
                    <button onclick="closeModal()" class="btn">
                        X
                    </button>
                </div>
                <!-- Modal Form -->
                <form>
                    <!-- Body -->
                    <div class="modal-body"></div>

                    <!-- Footer -->
                    <div class="modal-footer">
                        <!-- Close Btn -->
                        <button onclick="closeModal()" class="btn btn-secondary">
                            Close
                        </button>
                        <!-- Submit Btn -->
                        <button id="submit_button" class="btn btn-primary" type="submit">
                            Create Event
                        </button>
                    </div>
            </form>
            </div>
        </div>
    </div>