<!-- Modal elements -->
<div class="modal modal-lg" tabindex="-1" id="action-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="modal-title" class="modal-title">Action Modal</h3>
                <button onclick="closeActionModal()" class="btn">
                    X
                </button>
            </div>
            <!-- Additional Information -->
            <div class="additional-info-container bg-light p-2" id="additional-info">
                <!-- This div will be dynamically populated based on the action type -->
            </div>
            <!-- Form -->
            <form class="container p-3" id="action-form" method="post">
                <!-- This form will be dynamically populated based on the action type -->
            </form>
            <!-- Footer -->
            <div class="modal-footer">
                <!-- Close Btn -->
                <button onclick="closeActionModal()" class="btn btn-secondary">
                    Close
                </button>
                <!-- Submit Btn -->
                <button id="submit_button" class="btn btn-primary" type="submit">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>
