<div class="container mt-3">
    <h1>Create Group</h1>
    <form class="login-form" action="/create_group" method="POST">
        <div class="mb-1">
            <label class="form-label" for="groupname">Group Name:</label>
            <input class="form-control" type="text" name="groupname" id="groupname" /><br />
        </div>
        <div class="mb-1">
            <label class="form-label" for="startingliquidity">Starting Liquidity:</label>
            <input class="form-control" type="text" name="startingliquidity" id="startingliquidity" /><br />
        </div>
        <button class="btn btn-secondary" type="submit">Submit</button>
        <br/>
    </form>
</div>