<body>
<div class="container mt-3">
<h1>My Groups</h1>


<div class="card mb-3" style="background-color: #F18AED !important;">
 <div class="card-header">
   (group name)
 </div>
 <div class="card-body">
   <h5 class="card-title">$(balance here)</h5>
   <p class="card-text">Up/Down (amount)%</p>


   <a href="/group?groupId=1" class="btn btn-light">View Group</a>
   <a href="/portfolio?portfolioId=1" class="btn btn-light">View Portfolio</a>
 </div>


</div>

<!--
<div class="card bg-primary mb-3">
 <div class="card-header">
   (group name)
 </div>
 <div class="card-body">
   <h5 class="card-title">$(balance here)</h5>
   <p class="card-text">Up/Down (amount)%</p>


   <a href="#" class="btn btn-light">View</a>
   <a href="#" class="btn btn-light">View</a>
 </div>
 -->

<button type="button" class="btn btn-primary rounded-pill">+ Create Group</button>

<button type="button" class="btn btn-primary rounded-pill">+ Join Group</button>

</div>






</body>
