{{>message}}
<div class="container mt-3">
    <form class = "login-form" action="/login" method="POST">
        <h1>Login</h1>
        <label for="username">Username:</label>
        <input type="text" name="username" id = "username" /><br />

        <label for="username">Password:</label>
        <input type="password" name="password" id = "password" /><br />
        <button class="btn btn-secondary" type="submit">Submit</button>
    </form>
    <p>
        No account?
        <a href="/register">Register</a>
    </p>
</div>