<form method="post" action="/register">
    <h1>Register</h1>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" /><br />

    <label for="password">Password:</label>
    <input type="text" name="password" id="password" /><br />
    <button>Submit</button>
</form>